<div>
  <div class="direita">
    <div>
      <h3>Produtos</h3>
      <div class="button">
        <button color="primary" mat-raised-button routerLink="/products">LISTA DE PRODUTOS</button>
      </div>
      <div class="button">
        <button color="primary" mat-raised-button routerLink="/products/save">NOVO PRODUTO</button>
      </div>
    </div>
    <div style="padding-top: 5%">
      <h3>Fornecedor</h3>
      <div class="button">
        <button color="primary" mat-raised-button routerLink="/providers">LISTA DE FORNECEDORES</button>
      </div>
      <div class="button">
        <button color="primary" mat-raised-button routerLink="/providers/save">NOVO FORNECEDOR</button>
      </div>
    </div>
  </div>
  <div class="esquerda">
    <div>
      <h3>Entradas</h3>
      <div class="button">
        <button color="primary" mat-raised-button routerLink="/inputs">LISTA DE ENTRADAS</button>
      </div>
      <div class="button">
        <button color="primary" mat-raised-button routerLink="/inputs/save">NOVA ENTRADA</button>
      </div>
    </div>
    <div style="padding-top: 5%">
      <h3>Saídas</h3>
      <div class="button">
        <button color="primary" mat-raised-button routerLink="/outputs">lISTA DE SAÍDAS</button>
      </div>
      <div class="button">
        <button color="primary" mat-raised-button routerLink="/outputs/save">NOVA SAÍDA</button>
      </div>
    </div>
  </div>
</div>
