td{
  text-align: center;
}

th {
  font-size: larger;
  text-align: center;
}

table {
  width: 100%;
}

.body {
  width: 90%;
  padding: 5%;
}


.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.esquerda {
  float: left;
}

.direita {
  float: right;
}
