<div class="body">

  <div class="esquerda">
    <button mat-raised-button (click)="save()"><mat-icon aria-label="Nova Saída">archive</mat-icon> Nova Baixa</button>
  </div>
  <div class="direita">
    <button mat-raised-button (click)="back()"> <mat-icon aria-label="Home">home</mat-icon> Home</button>
  </div>
  <mat-form-field>
    <label>
      <input matInput (keyup)="applyFilter($event.target.value)"  placeholder="Buscar"/>
    </label>
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort >

      <!-- Progress Column -->
      <ng-container matColumnDef="product">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center">Produto</th>
        <td mat-cell *matCellDef="let row"> {{row.Product.name}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="unitPrice">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center">Preço</th>
        <td mat-cell *matCellDef="let row"> R$ {{row.unitPrice }} </td>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center"> Quantidade</th>
        <td mat-cell *matCellDef="let row"> {{row.amount}}</td>
      </ng-container>

      <ng-container matColumnDef="totalPrice">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center">Total</th>
        <td mat-cell  *matCellDef="let row"> {{row.totalPrice}}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button aria-label="Editar" color="accent" routerLink="/outputs/save/{{row.id}}"><mat-icon aria-hidden="false" aria-label="Edit">edit</mat-icon> </button>
          <button mat-icon-button aria-label="Delete" color="warn" (click)="delete(row.id)"><mat-icon aria-hidden="false" aria-label="Excluir">delete</mat-icon></button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>

</div>
