<a>Novo Produto</a>
<form>
  <div class="form">
    <label>
      Categoria:
      <input type="numeric" name="idCategory" manInput placeholder="Id da Categoria" [(ngModel)]="product.Category"/>
    </label>
    <label class="label">
      Nome:
      <input type="text" name="name" manInput placeholder="Nome do Produto" [(ngModel)]="product.name"/>
    </label>
  </div>

  <div class="form">
    <label>
      Quantidade:
      <input type="numeric" name="amount" manInput placeholder="Quantidade" [(ngModel)]="product.amount"/>
    </label>
    <label class="label">
      Preço Unitário:
      <input type="numeric" name="unitPrice" manInput placeholder="Valor unitário" [(ngModel)]="product.unitPrice"/>
    </label>
  </div>

  <div >
    <button  (click)="submit()" >Salvar</button>
    <button (click)="back()">Voltar</button>
  </div>
</form>
