<div class="form">
  <mat-card class="mat-elevation-z8">
    <div>
      <div>
        <h1>Novo Produto</h1>
      </div>
      <form>
        <div>
          <mat-form-field>
            <mat-label>Categoria</mat-label>
            <mat-select [(ngModel)]="product.idCategory" name="idCategory">
              <mat-option *ngFor="let category of category" [value]="category.id">{{category.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input type="text" name="name" matInput placeholder="Nome" [(ngModel)]="product.name">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input type="numeric" name="amount" matInput placeholder="Quantidade" [(ngModel)]="product.amount">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input type="numeric" name="unitPrice" matInput placeholder="Preço Unitário" [(ngModel)]="product.unitPrice">
          </mat-form-field>
        </div>
        <div>
          <button mat-raised-button color="accent" style="color: #ffffff" (click)="submit()"><mat-icon aria-label="Salvar">check_circle</mat-icon> Salvar</button>
          <button mat-raised-button color="warn" (click)="back()"><mat-icon aria-label="Cancelar">cancel</mat-icon>Cancelar</button>
        </div>
      </form>
    </div>
  </mat-card>
</div>


