footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #3F51B5;
  text-align: center;
  color: white;
}

span:hover, span:active {
  color: lightgray;
}

#menu {
  text-align: center;
  padding-left: 0%;
  width: 100%;
}

button {
  border-bottom: transparent;
}
