<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Controle de Estoque</span>
    <div>
      <ul>
          <span routerLink="/">Inicio</span>
      </ul>
    </div>
    <div fxFlex fxlayout fxlayoutalign="end" fxhide.xs>
      <ul fxlayout fxlayoutgap="15px" class="navigation-items">
          <span routerLink="/products">Produtos</span>
      </ul>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
      <ul fxLayout fxLayoutGap="15px" class="navigation-items">
          <span routerLink="/providers">Fornecedores</span>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>

<footer>
  <span>Copyright © 2019 - FalcatruasSI</span>
</footer>
