<div class="form">
  <mat-card class="mat-elevation-z8">
    <div>
      <div>
        <h1>Nova Saída</h1>
      </div>
      <form>
        <div>
          <mat-form-field>
            <mat-label>Categoria</mat-label>
            <mat-select [(ngModel)]="outputs.idProduct" name="idProduct">
              <mat-option *ngFor="let products of product" [value]="products.id">{{products.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input type="numeric" name="amount" matInput placeholder="Quantidade" [(ngModel)]="outputs.amount">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input type="numeric" name="unitPrice" matInput placeholder="Preço Unitário R$" [(ngModel)]="outputs.unitPrice">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input type="numeric" name="totalPrice" matInput value="{{outputs.unitPrice * outputs.amount}}" [(ngModel)]="outputs.totalPrice" placeholder="Total R$">
          </mat-form-field>
        </div>
        <div>
          <button mat-raised-button color="accent" style="color: #ffffff" (click)="submit()"><mat-icon aria-label="Salvar">check_circle</mat-icon> Salvar</button>
          <button mat-raised-button color="warn" (click)="back()"><mat-icon aria-label="Cancelar">cancel</mat-icon>Cancelar</button>
        </div>
      </form>
    </div>
  </mat-card>
</div>
