<div class="action">
  <button (click)="save()">Novo Produto</button>
  <button (click)="saveCategories()">Nova Categoria</button>
</div>

<!--<table>-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th>ID</th>-->
<!--      <th>Nome</th>-->
<!--      <th>Preço</th>-->
<!--      <th>Quantidade</th>-->
<!--      <th>Categoria</th>-->
<!--    </tr>-->
<!--  </thead>-->

<!--  <tbody>-->
<!--    <tr *ngFor=" let product of products, let key = index">-->
<!--      <td>{{product.id}}</td>-->
<!--      <td>{{product.name}}</td>-->
<!--      <td>{{product.unitPrice}}</td>-->
<!--      <td>{{product.amount}}</td>-->
<!--      <td>{{product.Category.name}}</td>-->
<!--      <button><a (click)="delete(product.id, key)">Excluir</a></button>-->
<!--    </tr>-->
<!--  </tbody>-->
<!--</table>-->

<!--  <mat-form-field>-->
<!--    <input matInput(keyup)="applyFilter($event.target.value)" placeholder="Filter">-->
<!--  </mat-form-field>-->

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort  *ngFor=" let product of products">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header >ID</th>
      <td mat-cell >{{product.id}}</td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
      <td mat-cell> {{product.name}}% </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="unitPrice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Preço </th>
      <td mat-cell> {{product.unitPrice}} </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantidade </th>
      <td mat-cell> {{product.amount}}</td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Categoria</th>
      <td mat-cell> {{product.Category.name}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let product; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
